html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: #e0e7f1;
  color:var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color:inherit;
  font:inherit;
}